.header {
  margin-top: 60px;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title-sm {
  position: absolute;
  top: 12%;
  font-size: 20px;
  font-weight: 600;
}

.header-title-lg {
  position: absolute;
  top: 15%;
  font-size: 100px;
  font-weight: 900;
}

.header-title-lg:hover {
  font-size: 110px;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.header-img {
  width: 100%;
  height: 450px;
  margin-top: 1rem;
  object-fit: cover;
}